<ion-view>

<ion-header-bar align-title="center" class="bar-stable">
  <!--<img src="img/bf_logo_mobile.png">-->
  <h1 class="title"><img src="img/bf_logo_mobile.png"></h1>
</ion-header-bar>

<ion-header-bar align-title="center" class="bar-dark bar-subheader">
 <h1 class="title">Information routière en France</h1>
</ion-header-bar>

  <ion-content class="has-subheader has-subfooter" id="test">
    <div class="title">Géolocalisez-vous ou sélectionnez une zone</div>
     	<!--
    <a class="button button-halfwidth" nav-clear ui-sref="bf.now">GO TO MAP</a>-->
	<div class=" row-map row ">
		  <div class="col-map col col-50">
		  	<img src="img/map_gauche.png">
		  </div>
		  <div class="col-map col col-50">
		  	<img src="img/map_droite.png">
		  </div>
	</div>
	<div class=" row-map row ">
		  <div class="col-map col col-50">
		   	<img src="img/map_bas_gauche.png">
		  </div>
		  <div class="col-map col col-50" >
		  	   	<img src="img/map_bas_droite.png">
		  </div>
	</div>
<!--
    <button class="button button-small button-assertive" ui-sref="bf.now">
 	 Small Button
	</button>
-->
  </ion-content>

<ion-footer-bar align-title="center" class="bar-light bar-subfooter">
	<h1 class="title">Informations du jour</h1>
</ion-footer-bar>

<ion-footer-bar  class="bar-assertive">
<!--<div class="row">
	<div clas="col col-50">
	-->
	<div class="button-bar">
	    <button class="button button-small button-light icon-left button-clear">
	    	<i class="icon ion-document-text"></i>
	    	Conditions de circulation nationales
	    </button>

<!--	</div>
	<div clas="col col-50">
-->	
	    <button class="button button-small button-light button-clear ">
	    	<i class="icon ion-arrow-up-c"></i>
	    	<i class="icon ion-arrow-down-c"></i>
	    	Couleur du jour
		 </button>
	</div>
<!--
	</div>
</div>
-->
</ion-footer-bar>

</ion-view>
