/* Empty. Add your own CSS if you like */
/*BF color footer : #dd3c02 */
img { 
	max-width: 100%; 
	/*max-height: 50%;*/

}

.bar-assertive{
	/*color : #dd3c02 ;*/
	/*color : #2D882D;*/
	color : black;
}

#test{
/*
	border : 1px red outset;
	*/
}

.row-map{
	margin-bottom: 0px;
	margin-top: 0px;

	padding: 0px;
}
.col-map{
	padding: 0px;
}
